@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-100: #594537;
  --color-primary-200: #4f3e31;
  --color-primary-300: #84441e;

  --color-secondary-200: #f5a100;
  --color-secondary-300: #f5a100;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.map-container {
  width: 100%;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.indonesia {
  width: 100%;
  /* SVG mengikuti lebar kontainer */
  height: auto;
  /* Tinggi otomatis agar proporsional */
  display: block;
}

.indonesia path {
  fill: #594537;
  transition: fill 0.6s;
}

.pulau_active path:hover {
  fill: #4f3e31;
  cursor: pointer;
}

.pulau_nonactive path:hover {
  fill: red;
  cursor: pointer;
}

#tooltip {
  position: absolute;
  z-index: 10;
  background-color: #6e3717;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* pesawat animasi open  */
/* Peta.css */

/* Animasi pesawat terbang kanan → kiri */
@keyframes plane-flight {
  0% {
    transform: translateX(120vw) translateY(0);
  }
  50% {
    transform: translateX(40vw) translateY(-20px);
  }
  100% {
    transform: translateX(-20%) translateY(0);
  }
}

/* Kelas animasi pesawat */
.animate-plane-flight {
  animation: plane-flight 20s linear infinite;
  will-change: transform;
}

/* pesawat animasi close */
